*/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 10px 20px;
  color: white;
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navbar links */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  transition: background 0.3s;
}

.navbar ul li a:hover {
  background-color: #555;
  border-radius: 4px;
}
   
.btn {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
}

.button {
    background-color: rgb(71, 71, 216);
    border: 2px solid white;
    padding: 10px 20px;
    border:none;
    font-size: 20px;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background-color: #1f2937;
    color: white;
    
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 16px;
}

.hero-text p {
    font-size: 18px;
    color: #d1d5db;
    margin-bottom: 24px;
}

.hero-text button {
    background-color: #3882f6;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.hero-text button:hover {
  background-color: white;
  border-radius: 4px;
}
   
.hero-image .image-placeholder{
    width: 400px;
    height: 200px;
    background-color: #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.info {
  text-align: center;
  padding: 80px 40px;
}
.info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info-boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.info-item{
  max-width: 150px;
}

.icon{
  width: 100px;
  height: 100px;
  border: none;
  border-color: blue;
  background-color: #8c929b;
  border-radius: 16px;
  margin: 0 auto 16px auto;
}
.info-item p {
  font-size: 14px;
  color: black;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #8c929b;
  padding: 15px;
  font-size: 16px;
  color: black;
  text-align: left;
}


.testimonials .testimonial-card{
  width: 600px;
  height: 200px;
}

.testimonial-card p{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}  

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px;
    color: white;
    text-align: center;
}

.cta-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 130px;
  background-color: #3882f6;
  border-radius: 10px;
}

.cta-container p {
  margin-right: 1px;
  color: white;
  text-align: left;
  width: 100%;
}
.btn{
  background-color: #3882f6;
  border-color: white;

}

.footer {
    background-color: #1f2937;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}